@model IEnumerable<UTCAPPCMS.DAL.Models.UserGroup>
@{
    ViewData["Title"] = "Group Privilage";
    ViewData["shortdesc"] = "manage Group Privilage information";
}

<div class="container">
    <div class="col-xs-12 col-lg-12">
        <div class="card">
            <div class="card-header">



                <div class="col-md-12 text-right">

                    <a asp-action="Create">
                        <button class="btn btn-danger btn-sm btn-labeled" type="button">
                            <span class="btn-label">
                                <span class="icon icon-plus icon-lg icon-fw"></span>
                            </span>
                            Add New
                        </button>
                    </a>
                </div>

                <a asp-action="Excel">
                    <button class="btn btn-danger btn-sm btn-labeled" type="button">
                        <span class="btn-label">
                            <span class="icon icon-download icon-lg icon-fw"></span>
                        </span>
                        Download Excel
                    </button>
                </a>

            </div>

            <div class="card-body">
                <table class="table table-flip-scroll table-bordered table-striped table-nowrap table-hover dataTable display nowrap" cellspacing="0" width="100%" id="demo-datatables-buttons-1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>English Name</th>
                            <th>Arabic Name</th>
                            <th>Created Date</th>
                            <th>IsEnable</th>
                            <th>IsDelete</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                        <tr>
                            <td>@i</td>
                            <td>@Html.DisplayFor(modelItem => item.NameEn)</td>
                            <td>@Html.DisplayFor(modelItem => item.NameAr)</td>
                            <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.IsEnable)</td>
                            <td>@Html.DisplayFor(modelItem => item.IsDeleted)</td>
                            <td>
                                <div class="btn-group dropdown">
                                    <button class="btn btn-danger" type="button">Actions</button>
                                    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" type="button">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li> <a asp-action="Create" asp-route-id="@item.Id">Edit</a> </li>

                                        <li> <a data-toggle="modal" data-target="#@("a"+item.Id)">Delete</a> </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    @foreach (var item in Model)
    {
        <Text>

        $("#@item.Id").click(function () {


                    //console.log('Form is submitting');
                    $.ajax({
                        url: "/GroupPrivilage/DeleteConfirmed",
                data: { id: @item.Id },
                        type: "post",
                        success: window.location.replace("/GroupPrivilage/Index")

            })



            });

    </Text>
    }
    })
</script>

<script src="~/Jquery/jquery-3.5.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
